<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="User friends" lan="USER_FRIEND_FULL_NAME" version="0.05" date="2026-02-15" compatibility="2.3" installRequired="true" xhtmlcompliant="true" >
	<author name="rica-carv" email="selo.fan@gmail.com" url="https://github.com/rica-carv" />
	<description lan="LAN_USER_FRIEND_DESC">User friends plugin</description>
	<keywords>
		<word>enhancement</word>
		<word>user</word>
		<word>info</word>
	</keywords>
	<category>users</category>
	<copyright>Copyright SelosPT Selospt.tk, Licensed under GPL (http://www.gnu.org/licenses/gpl.txt)</copyright>
	<readMe>readme.txt</readMe>
	<adminLinks>
		<link url='admin_config.php' description='LAN_CONFIGURE' icon='images/user_friend.png' iconSmall='images/user_friend.png' primary='true' >LAN_CONFIGURE</link>	
	</adminLinks>

	<dependencies>
		<release name="e107" version="2.3.0" />
		<php version="8.0.0" />
	</dependencies>

	<pluginPrefs>
		<pref name="allow_frontend_add" type="boolean" default="1" title="LANAD_USERFRIENDS_23" help="LAN_USERFRIEND_PREF_ALLOW_ADD_DESC" />
		<pref name="allow_users_disable" type="boolean" default="0" title="LANAD_USERFRIENDS_35" help="LAN_USERFRIEND_PREF_ALLOW_ADD_DESC" />
		<pref name="show_alert" type="boolean" default="1" title="LANAD_USERFRIENDS_10" help="LAN_USERFRIEND_PREF_SHOW_ALERT_DESC" />
		<pref name="show_frontend_messages" type="boolean" default="1" title="LANAD_USERFRIENDS_SHOW_MESSAGES" help="LAN_USERFRIEND_PREF_SHOW_MESSAGES_DESC" />
		<pref name="show_frontend_reject" type="boolean" default="0" title="LANAD_USERFRIENDS_12" help="LAN_USERFRIEND_PREF_SHOW_REJECT_DESC" />
		<pref name="allow_frontend_unsend" type="boolean" default="0" title="LANAD_USERFRIENDS_13" help="LAN_USERFRIEND_PREF_ALLOW_UNSEND_DESC" />
		<pref name="allow_frontend_accept" type="boolean" default="1" title="LANAD_USERFRIENDS_ALLOW_ACCEPT" help="LAN_USERFRIEND_PREF_ALLOW_ACCEPT_DESC" />
		<pref name="allow_frontend_decline" type="boolean" default="1" title="LANAD_USERFRIENDS_ALLOW_DECLINE" help="LAN_USERFRIEND_PREF_ALLOW_DECLINE_DESC" />
		<pref name="allow_frontend_unfriend" type="boolean" default="0" title="LANAD_USERFRIENDS_11" help="LAN_USERFRIEND_PREF_ALLOW_UNFRIEND_DESC" />
		<pref name="delete_on_unfriend" type="boolean" default="0" />
		<pref name="block_after_remove" type="boolean" default="0" />
		<pref name="autoreset" type="boolean" default="0" title="LANAD_USERFRIENDS_AUTO_RESET" help="LAN_USERFRIEND_PREF_AUTO_RESET_DESC" />
		<pref name="reset_delay" type="number" default="5000" title="LANAD_USERFRIENDS_15" help="LAN_USERFRIEND_PREF_RESET_DELAY_DESC" />
		<pref name="reset_counter" type="boolean" default="1" title="LANAD_USERFRIENDS_14" help="LAN_USERFRIEND_PREF_RESET_COUNTER_DESC" />
		<pref name="log_actions" type="boolean" default="0" title="LANAD_USERFRIENDS_LOG_ACTIONS" help="LAN_USERFRIEND_PREF_LOG_ACTIONS_DESC" />
		<pref name="per_page" type="number" default="10" title="LANAD_USERFRIENDS_PER_PAGE" help="LAN_USERFRIEND_PREF_PER_PAGE_DESC" />
	</pluginPrefs>

<extendedFields>
    <field name="allow" type="EUF_CHECKBOX" default="1" active="true"/>
</extendedFields>

</e107Plugin>